{% extends 'blog/base.html' %}
{% include "deadfiregenerator.py" %}
{% include "dicts.py" %}
{% block content %}

            {% csrf_token %}
            {% autoescape off %}
<div class='generator'>
  <div class='post'>
    <p>Gender: {{ gender }}<br>Race: {{ race }}<br>Subrace: {{subrace}}</p>
    {% if singleormulti == 1 %}
    <p>Class: {{ first_class }}<br>Subclass: {{ first_subclass }}</p>
    {% endif %}
    {% if singleormulti == 2 %}
    <p>Class: {{ multiclass }} ({{first_class}}/{{second_class}}) <br>Subclass: {{multi_subclass}}<br></p>
    {% endif %}
    <p>Culture: {{ culture}} <br>Background: {{ background }}<br>
{% endautoescape %}
        <form action='/deadfiregenerator' method='GET'>
            <button class='button' type='submit'>Generate new character</button>
        </form>
      </div>
      </div>
{% endblock %}
