{% extends 'blog/base.html' %}
{% include "deadfiregenerator.py" %}
{% include "dicts.py" %}
{% block content %}
<h1>Deadfire Character Generator</h1>

            {% csrf_token %}
            {% autoescape off %}
    <p>{{ gender }}<br> {{ race }}<br> {{subrace}}</p>
    {% if singleormulti == 1 %}
    <p> {{ first_class }}<br> {{ first_subclass }}</p>
    {% endif %}
    {% if singleormulti == 2 %}
    <p> {{ multiclass }} ({{first_class}}/{{second_class}}) <br> {{multi_subclass}}<br></p>
    {% endif %}
    <p> {{ culture}} <br> {{ background }}<br>
{% endautoescape %}

            <button type='reset'>Generate new character</button>
        </form>
{% endblock %}
